.Calendar__cell {
  text-align: center;
  padding: 8px 4px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.Calendar__cell--header {
  background: #f4f4f4;
  font-weight: bold;
}

.Calendar__monthSelector {
  display: flex;
  width: 100%;
  padding: 1em 0.25em;
  box-sizing: border-box;
  align-items: center;
}

.Calendar__monthSelector__value {
  flex-grow: 1;
  text-align: center;
}

.Calendar__monthSelector__nav {
  color: #555;
}

.Calendar__monthSelector__nav:hover {
  color: #000;
}

.Calendar__monthChoice--current {
  background-color: aqua;
}

.Calendar {
  width: 336px;
}

.Calendar__cell--disabled {
  color: #bbb;
}

.Calendar__cell--today {
  background: #cff8ff;
}

.Calendar__cell:not(.Calendar__cell--disabled):hover {
  background: #bef;
}

.Calendar__cell--selected {
  background: #367;
  color: #fff;
}

.Calendar__day {
  position: relative;
  padding: 3px;
}